[submodule "flux"]
	path = flux
	url = git@github.com:flux-rs/flux
	branch = pldi23-artifact
[submodule "liquid-fixpoint"]
	path = liquid-fixpoint
	url = git@github.com:ucsd-progsys/liquid-fixpoint.git
[submodule "prusti-dev"]
	path = prusti-dev
	url = git@github.com:PLSysSec/prusti-dev.git
